{
	"presets": [
		[
			"@babel/env",
			{
				"shippedProposals": true,
				"targets": {
					"browsers": ["last 2 versions", "not ie < 11"]
				},
				"modules": false
			}
		],
		"@babel/react"
	],
	"plugins": [
		"@babel/proposal-export-default-from",
		"@babel/proposal-class-properties",
		["@babel/proposal-object-rest-spread", { "useBuiltIns": true }]
	],
	"env":{
		"node":{
			"presets": [
				[
					"@babel/env",
					{
						"shippedProposals": true,
						"targets": {
							"node": "current"
						}
					}
				],
				"@babel/react"
			]
		}
	}
}
